
[formatters]
keys: default,error
 
[handlers]
keys: console,mail

[loggers]
keys: root

[formatter_default]
format: $COLOR[%(levelname)s]%(message)s $RESET 
class=hlog.hlib.ColorFormatter

[formatter_error]
format: [%(levelname)s]:%(asctime)s:[%(lineno)d@%(module)s]: %(message)s
datefmt="%H:%M:%S"
class=logging.Formatter

[handler_console]
class:hlog.hlib.ConsoleInfoHandler
level:DEBUG
args: (sys.stdout,)
formatter: default

[handler_mail]
class=hlog.hlib.GMAIL_SMTPHandler
level=CRITICAL
formatter=error
args=("smtp.gmail.com", 587), 'bugs at my_company.com',['<name>@gmail.com'], 'Error found!',('<name>@gmail.com', '<password>')

[logger_root]
level: INFO
handlers: console, mail

