
[formatters]
keys: default,error
 
[handlers]
keys: console,exception

[loggers]
keys: root

[formatter_default]
format: $COLOR%(message)s$RESET 
class=hlog.hlib.ColorFormatter

[formatter_error]
format: %(asctime)s: %(message)s
datefmt="%H:%M:%S"
class=logging.Formatter

[handler_console]
class:hlog.hlib.ConsoleInfoHandler
level:DEBUG
args: (sys.stdout,)
formatter: default

[handler_exception]
class=hlog.hlib.GMAIL_SMTPHandler
level=ERROR
formatter=error
args=("smtp.gmail.com", 587), 'NotUsed',['<name>@gmail.com'], '[ERROR]:',('<name>@gmail.com', '<password>')

[logger_root]
level: DEBUG
handlers: console, exception

