
[formatters]
keys: default,error, debug
 
[handlers]
keys: console,exception, debug

[loggers]
keys: root, debug

[formatter_default]
format: (filename)s: %(message)s
class=hlog.hlib.ColorFormatter

[formatter_error]
format: %(asctime)s:%(message)s
datefmt="%H:%M:%S"
class=logging.Formatter

[formatter_debug]
format: [%(lineno)s@%(filename)s]:%(message)s
datefmt="%H:%M:%S"
class=hlog.hlib.ColorFormatter

[handler_console]
class:hlog.hlib.ConsoleInfoHandler
level:DEBUG
args: (sys.stdout,)
formatter: default

[handler_debug]
class:hlog.hlib.ConsoleInfoHandler
level:DEBUG
args: (sys.stdout,)
formatter: debug

[handler_exception]
class=hlog.hlib.GMAIL_SMTPHandler
level=ERROR
formatter=error
args=("smtp.gmail.com", 587), 'NotUsed',['<name>@gmail.com'], '[ERROR]:',('<name>@gmail.com', '<password>')

[logger_root]
level: INFO
handlers: console, exception

[logger_debug]
level: DEBUG
qualname: debug
handlers: debug
parent:debug
propagate:0
